.avue-theme--dark body {
  background: #000;
}

.avue-theme--dark .el-pagination.is-background .btn-next, .avue-theme--dark .el-pagination.is-background .btn-prev, .avue-theme--dark .el-pagination.is-background .el-pager li {
  background-color: #151518;
  color: #525256;
  box-sizing: border-box;
  border: 1px solid #313135;
}

.avue-theme--dark .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #151518;
  border-color: #6087fd;
}

.avue-theme--dark .el-cascader-menu {
  border-right: solid 1px #313135;
}

.avue-theme--dark .el-select-dropdown.is-multiple .el-select-dropdown__item.selected
, .avue-theme--dark .el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover {
  background-color: #151518;
}

.avue-theme--dark .el-input__inner, .avue-theme--dark .el-range-input, .avue-theme--dark .el-cascader__dropdown, .avue-theme--dark .el-select-dropdown {
  background-color: #151518;
  color: #999;
  border: 1px solid #313135;
}

.avue-theme--dark .el-input__inner:hover, .avue-theme--dark .el-range-input:hover, .avue-theme--dark .el-cascader__dropdown:hover, .avue-theme--dark .el-select-dropdown:hover {
  border-color: #6087fd;
}

.avue-theme--dark .el-input__inner::-webkit-input-placeholder, .avue-theme--dark .el-range-input::-webkit-input-placeholder, .avue-theme--dark .el-cascader__dropdown::-webkit-input-placeholder, .avue-theme--dark .el-select-dropdown::-webkit-input-placeholder {
  color: #525256;
}

.avue-theme--dark .el-input__inner::-moz-placeholder, .avue-theme--dark .el-range-input::-moz-placeholder, .avue-theme--dark .el-cascader__dropdown::-moz-placeholder, .avue-theme--dark .el-select-dropdown::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #525256;
}

.avue-theme--dark .el-input__inner:-moz-placeholder, .avue-theme--dark .el-range-input:-moz-placeholder, .avue-theme--dark .el-cascader__dropdown:-moz-placeholder, .avue-theme--dark .el-select-dropdown:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #525256;
}

.avue-theme--dark .el-input__inner:-ms-input-placeholder, .avue-theme--dark .el-range-input:-ms-input-placeholder, .avue-theme--dark .el-cascader__dropdown:-ms-input-placeholder, .avue-theme--dark .el-select-dropdown:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #525256;
}

.avue-theme--dark .el-form-item__label {
  color: #9a9a9f;
}

.avue-theme--dark .el-switch__core {
  background: #151518;
  border-color: #151518;
}

.avue-theme--dark .avue-group__item {
  background-color: #000;
}

.avue-theme--dark .el-table--border, .avue-theme--dark .el-table--group {
  border-color: #313135;
}

.avue-theme--dark .el-table__body tr.current-row > td, .avue-theme--dark .el-table__body tr.hover-row > td {
  background-color: #151518;
}

.avue-theme--dark .el-table--border td, .avue-theme--dark .el-table--border th, .avue-theme--dark .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
  border-color: #999;
}

.avue-theme--dark .avue-crud .el-table th, .avue-theme--dark .el-table th, .avue-theme--dark .el-table tr, .avue-theme--dark .el-table, .avue-theme--dark .el-table__fixed-footer-wrapper tbody td, .avue-theme--dark .el-table__footer-wrapper tbody td, .avue-theme--dark .el-table__header-wrapper tbody td {
  background-color: #151518;
  color: #999;
  border-color: #999;
}
