.container {
	@include JustityAndFlexWrap(flex, center, center, null);
	.show-text {
		@include JustityAndFlexWrap(flex, center, center, null);
		border: 1px solid #eee;
		width: 100%;
		height: 26px;
		background: white;
		.title {
			width: 75px;
			// @include Extra-NotDisplayed();
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.delete {
			width: 55px;
			color: red;
		}
	}
}
