@media screen and (max-width: 375px) {
  .flowcenter-wrap .border-bl .flex > div:last-child,
  .flowcenter-wrap .border-red .flex > div:last-child,
  .flowcenter-wrap .border-gr .flex > div:last-child,
  .flowcenter-wrap .border-or .flex > div:last-child {
    text-align: left !important;
  }
}

@media screen and (max-width: 768px) {
  .flow-dialog {
    padding: 0 !important;
  }
  .bolder {
    margin: 0 !important;
  }
  .flex {
    margin-bottom: 10px;
  }
  .flowcenter-wrap .border-bl,
  .flowcenter-wrap .border-red,
  .flowcenter-wrap .border-gr,
  .flowcenter-wrap .border-or {
    padding: 10px;
  }
  .flowcenter-wrap .border-bl .name,
  .flowcenter-wrap .border-red .name,
  .flowcenter-wrap .border-gr .name,
  .flowcenter-wrap .border-or .name {
    width: 100px !important;
  }
  .flowcenter-wrap .border-bl .bolder,
  .flowcenter-wrap .border-red .bolder,
  .flowcenter-wrap .border-gr .bolder,
  .flowcenter-wrap .border-or .bolder {
    margin: 0 !important;
    white-space: nowrap;
    width: 80px;
    text-overflow: ellipsis;
  }
  .flowcenter-wrap .border-bl > .flex > .flex,
  .flowcenter-wrap .border-red > .flex > .flex,
  .flowcenter-wrap .border-gr > .flex > .flex,
  .flowcenter-wrap .border-or > .flex > .flex {
    line-height: 40px !important;
    width: auto !important;
  }
  .flowcenter-wrap .border-bl > .flex .el-icon-share,
  .flowcenter-wrap .border-bl > .flex .el-icon-document,
  .flowcenter-wrap .border-red > .flex .el-icon-share,
  .flowcenter-wrap .border-red > .flex .el-icon-document,
  .flowcenter-wrap .border-gr > .flex .el-icon-share,
  .flowcenter-wrap .border-gr > .flex .el-icon-document,
  .flowcenter-wrap .border-or > .flex .el-icon-share,
  .flowcenter-wrap .border-or > .flex .el-icon-document {
    display: none !important;
  }
  .flowcenter-wrap .border-bl > .flex .avatar-image,
  .flowcenter-wrap .border-red > .flex .avatar-image,
  .flowcenter-wrap .border-gr > .flex .avatar-image,
  .flowcenter-wrap .border-or > .flex .avatar-image {
    display: none;
    height: 40px;
    width: 40px;
    margin: 0;
  }
  .flowcenter-wrap .border-bl > .flex .flex:first-child .avatar-image,
  .flowcenter-wrap .border-red > .flex .flex:first-child .avatar-image,
  .flowcenter-wrap .border-gr > .flex .flex:first-child .avatar-image,
  .flowcenter-wrap .border-or > .flex .flex:first-child .avatar-image {
    display: block;
  }
  .flowcenter-wrap .border-bl > .flex .flex:first-child .user,
  .flowcenter-wrap .border-red > .flex .flex:first-child .user,
  .flowcenter-wrap .border-gr > .flex .flex:first-child .user,
  .flowcenter-wrap .border-or > .flex .flex:first-child .user {
    margin-left: 0px;
    padding-left: 0px;
  }
  .flowcenter-wrap .border-bl > .flex .flex:nth-child(2),
  .flowcenter-wrap .border-red > .flex .flex:nth-child(2),
  .flowcenter-wrap .border-gr > .flex .flex:nth-child(2),
  .flowcenter-wrap .border-or > .flex .flex:nth-child(2) {
    margin-bottom: 10px;
  }
  .flowcenter-wrap .border-bl > .flex .flex:nth-child(2) span:first-child,
  .flowcenter-wrap .border-red > .flex .flex:nth-child(2) span:first-child,
  .flowcenter-wrap .border-gr > .flex .flex:nth-child(2) span:first-child,
  .flowcenter-wrap .border-or > .flex .flex:nth-child(2) span:first-child {
    white-space: nowrap;
    margin: 0 !important;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  .flowcenter-wrap .border-bl > .flex .flex:nth-child(2) > div,
  .flowcenter-wrap .border-red > .flex .flex:nth-child(2) > div,
  .flowcenter-wrap .border-gr > .flex .flex:nth-child(2) > div,
  .flowcenter-wrap .border-or > .flex .flex:nth-child(2) > div {
    display: flex;
  }
  .flowcenter-wrap .border-bl > .flex .flex:nth-child(2) > div .form-name,
  .flowcenter-wrap .border-red > .flex .flex:nth-child(2) > div .form-name,
  .flowcenter-wrap .border-gr > .flex .flex:nth-child(2) > div .form-name,
  .flowcenter-wrap .border-or > .flex .flex:nth-child(2) > div .form-name {
    display: inline;
    white-space: nowrap;
  }
  .flowcenter-wrap .border-bl > .flex .flex:nth-child(3) > div,
  .flowcenter-wrap .border-red > .flex .flex:nth-child(3) > div,
  .flowcenter-wrap .border-gr > .flex .flex:nth-child(3) > div,
  .flowcenter-wrap .border-or > .flex .flex:nth-child(3) > div {
    width: 100%;
    display: flex;
    height: 40px;
  }
  .flowcenter-wrap .border-bl > .flex .flex:nth-child(3) > div > div,
  .flowcenter-wrap .border-red > .flex .flex:nth-child(3) > div > div,
  .flowcenter-wrap .border-gr > .flex .flex:nth-child(3) > div > div,
  .flowcenter-wrap .border-or > .flex .flex:nth-child(3) > div > div {
    display: block;
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .flowcenter-wrap .border-bl > .flex .flex:nth-child(3) > div .flex,
  .flowcenter-wrap .border-red > .flex .flex:nth-child(3) > div .flex,
  .flowcenter-wrap .border-gr > .flex .flex:nth-child(3) > div .flex,
  .flowcenter-wrap .border-or > .flex .flex:nth-child(3) > div .flex {
    display: flex;
    flex: 1;
    margin-top: 10px;
  }
  .el-tabs__item > span > div {
    padding: 0 5px;
  }
  .m-header .nav.middle {
    left: 25%;
    transform: translate(0, 0);
  }
  .flowcenter-wrap .group .user {
    display: flex;
    flex: 1;
  }
  .flowcenter-wrap .group .user > div {
    display: inline;
    padding-right: 20px;
    white-space: nowrap;
  }
  .flowcenter-wrap .group .user .bolder {
    font-weight: bold;
  }
  .flowcenter-wrap .group .user .name {
    font-weight: 400;
    color: #3471ff;
  }
  .flowcenter .nav.left {
    display: none;
  }
  .flowcenter .nav.right .el-avatar,
  .flowcenter .nav.right .el-dropdown-selfdefine {
    color: #2c3e50 !important;
  }
  .flowcenter .nav .nav-btn::after {
    color: black;
  }
  .flowcenter .group {
    height: auto !important;
  }
  .flowcenter .group > .flex {
    display: block;
  }
  .flowcenter .group .node {
    margin: 10px 0 !important;
  }
  .flowcenter .group .info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .flowcenter .flowcenter-dialog-container {
    display: block;
  }
  .flowcenter .flowcenter-dialog-container .left-half {
    width: auto;
  }
  .flowcenter .flowcenter-dialog-container .prop {
    width: auto;
  }
  .flowcenter .flowcenter-wrap .el-drawer__header {
    border-bottom: 0;
  }
  .flowcenter .el-avatar {
    display: block;
    float: right;
  }
  .flowcenter .toFlex {
    display: block;
  }
  .flowcenter .timeStyle {
    text-align: left;
  }
  .flowcenter .container > .group {
    margin: 0 10px 15px 10px;
  }
  .flowcenter .flowcenter-dialog-container .left-half .infor-status ul li {
    margin-top: 20px;
    margin-right: 0;
  }
  .flowcenter .flowcenter-dialog-container .left-half .infor-status ul li div:nth-child(1) i {
    font-size: 12px;
  }
  .flowcenter .flowcenter-dialog-container .prop-title .flow {
    display: none;
  }
  .flowcenter .flowcenter-dialog-container .el-tabs__item {
    padding: 0 20px;
  }
  .flowcenter .flowcenter-dialog-container .el-tabs__nav-scroll {
    padding: 5px;
    padding-left: 30px;
  }
  .flowcenter .flow-table {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: white;
    padding: 5px 0;
  }
  .flowcenter .flow-table .el-button {
    padding: 5px;
  }
  .flowcenter .flowcenter-wrap .container {
    height: auto;
    padding-bottom: 50px;
  }
  .flowcenter .flowcenter-dialog-container .left-half .infor-status ul {
    display: block;
  }
  .flowcenter .flowcenter-dialog-container .left-half .infor-status ul li {
    width: auto;
  }
  .flowcenter .flowcenter-dialog-container .left-half .infor-status ul .el-tabs__content {
    padding: 0;
  }
}
